.wrapper {
  flex: 0 0 380px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.panel {
  height: 100%;
}

@media (max-width: 960px) {
  .wrapper {
    flex: 1 1 auto;
    width: 100%;
  }
}
